* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body .searchbox input {
  background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	height: 45px;
	margin-top: 20px;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 400px;
}

body h1 {
  margin: 10px;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: grey;
  text-align: center;
  margin-top: 10px;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h1 {
  font-size: 1.8rem;
  color: #b0b0b0;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content b {
  /*color:#b0b0b0;*/
  color: black;
} 

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: #878787;
  z-index: 1;
  transition: 0.5s;
  padding: 3px;
}